@use 'imports/reset';
@use '_variables';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Syne:wght@400..800&display=swap');

// containers
.wrapper{
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.uppercase{
    text-transform: uppercase;
}

h1{
    margin-bottom: 40px;
}